[mysqld]
default_authentication_plugin=mysql_native_password
performance_schema=off

slow_query_log                = 1
slow_query_log_file           = /var/log/mysql/slow.log
long_query_time               = 0
log-queries-not-using-indexes = 1